<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shopping Cart</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="@ViewData["css"]" />
    @RenderSection("CSS", required: false)
    @*<link href="/css/Home/style.css" rel="stylesheet" />*@
</head>
<body>
    @{
        string session = Context.Request.Cookies["sessionid"];
        string name = "";
        if(session != null)
        {
            string fullname = Context.Request.Cookies["name"];
            string[] names = fullname.Split(" ");
            name = names[0];
        }
        Cart cart1 = (Cart)ViewData["cart"];
    }
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container" style="position:relative; padding: 0px 10px">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="width: 200px">Shopping Cart</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="left-links">
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <!--check cookie here-->
                            <!--check username from cookie here-->
                            <li id="displayname" class="nav-item nav-link">Hello, @name</li>
                            <li class="nav-item">
                                <span id="login" class="nav-link text-dark">Login</span>
                            </li>
                            <li class="nav-item">
                                <a id="signup" asp-action="register" class="nav-link text-dark">Create User</a>
                            </li>
                            <li class="nav-item">
                                <a id="logout" class="nav-link text-dark" asp-action="Logout" asp-controller="Home">Logout</a>
                            </li>
                            <!--close check cookie-->
                        </ul>
                    </div>
                </div>

                <!--Nav bar right side-->
                <div class="right-links">
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="/Images/cart.png" alt="Cart" id="shopping-cart-img" style="max-width: 20px; height: auto; margin:0px;" />
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark">
                                    @if (cart1 != null)
                                    {
                                        <p style="display:inline-block; margin:0px;" id="number-of-items-cart">@cart1.CartProducts.Count()</p>
                                    }
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>



                @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <span id="login" class="nav-link text-dark">Login</span>
                        </li>
                        <li class="nav-item">
                            <span id="signup" class="nav-link text-dark">Register</span>
                        </li>
                        <li class="nav-item">
                            <span id="displayname" class="nav-link text-dark">Hello @name</span>
                        </li>
                        <li class="nav-item">
                            <div id="cart-number" class="nav-link text-dark">
                                <img id="shopping-cart-img" style="max-width: 20px; height: auto; margin:0px;" src="https://tse4.mm.bing.net/th?id=OIP.M1G58cJVNe6qwpTCzEl9TgHaGe&pid=Api&P=0&w=188&h=166" />
                                @if (cart1 != null)
                                {
                                    <p style="display:inline-block; margin:0px;" id="number-of-items-cart">@cart1.CartProducts.Count()</p>
                                }
                            </div>
                        </li>
                        <li class="nav-item">
                            <a id="logout" class="nav-link text-dark" asp-action="Logout" asp-controller="Home">Logout</a>
                        </li>
                    </ul>
                </div>*@


            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3" id="alignment-container">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CA_Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
